.caixa{
    box-shadow:  2px 2px 2px #090909,
             -2px -2px 2px #1b1b1b;
    border: 1px solid transparent; 
    border-radius: 6px; 
    background: linear-gradient(rgb(49, 49, 49), rgb(49, 49, 49)) padding-box, 
                linear-gradient(45deg, black, royalblue) border-box;
}